[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-electric-eel
Exec=harbour-electric-eel
Name=ElectricEel
Name[en]=ElectricEel
Comment=Control your Tesla over Bluetooth
Comment[en]=Control your Tesla over Bluetooth

[X-Sailjail]
Permissions=Bluetooth;Documents
OrganizationName=org.electriceel
ApplicationName=harbour-electric-eel
